@model IEnumerable<Core.Entites.Models.ToDo>
@using Core.Entites.Enums
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MetroUILayout.cshtml";
}





<div id="content" class="col-lg-10 col-sm-11">


    <div class="row">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-check"></i>To Do List</h2>
                            <div class="box-icon">
                                <a href="widgets.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                                <a href="widgets.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                <a href="widgets.html#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="todo">
                                <ul class="todo-list">

                                    @foreach (var item in Model)
                                    {
                                        <li>
                                            <span class="todo-actions">
                                                <a href="widgets.html#"><i class="fa fa-square-o"></i></a>
                                            </span>
                                            <span class="desc"> <b>@item.ToDoTask</b></span>
                                            ( <span class="desc"><i>@item.Description</i></span> )
                                            @if (item.Priority == Priority.Urgent)
                                            {
                                                <span class="label label-important">@item.TargetDate.ToShortDateString()</span>}
                                            @if (item.Priority == Priority.High)
                                            {
                                                <span class="label label-warning">@item.TargetDate.ToShortDateString()</span>}
                                            @if (item.Priority == Priority.Medium)
                                            {
                                                <span class="label label-info">@item.TargetDate.ToShortDateString()</span>}
                                            @if (item.Priority == Priority.Low)
                                            {
                                                <span class="label label-default">@item.TargetDate.ToShortDateString()</span>}

                                        </li>

                                    }
                                    @*<li>
                                            <span class="todo-actions">
                                                <a href="widgets.html#"><i class="fa fa-square-o"></i></a>
                                            </span>
                                            <span class="desc">New frontend layout</span>
                                            <span class="label label-important">today</span>
                                        </li>
                                        <li>
                                            <span class="todo-actions">
                                                <a href="widgets.html#"><i class="fa fa-square-o"></i></a>
                                            </span>
                                            <span class="desc">Hire developers</span>
                                            <span class="label label-warning">tommorow</span>
                                        </li>
                                        <li>
                                            <span class="todo-actions">
                                                <a href="widgets.html#"><i class="fa fa-square-o"></i></a>
                                            </span>
                                            <span class="desc">Windows Phone 8 App</span>
                                            <span class="label label-warning">tommorow</span>
                                        </li>
                                        <li>
                                            <span class="todo-actions">
                                                <a href="widgets.html#"><i class="fa fa-square-o"></i></a>
                                            </span>
                                            <span class="desc">New frontend layout</span>
                                            <span class="label label-success">this week</span>
                                        </li>
                                        <li>
                                            <span class="todo-actions">
                                                <a href="widgets.html#"><i class="fa fa-square-o"></i></a>
                                            </span>
                                            <span class="desc">Hire developers</span>
                                            <span class="label label-success">this week</span>
                                        </li>
                                        <li>
                                            <span class="todo-actions">
                                                <a href="widgets.html#"><i class="fa fa-square-o"></i></a>
                                            </span>
                                            <span class="desc">New frontend layout</span>
                                            <span class="label label-info">this month</span>
                                        </li>
                                        <li>
                                            <span class="todo-actions">
                                                <a href="widgets.html#"><i class="fa fa-square-o"></i></a>
                                            </span>
                                            <span class="desc">Hire developers</span>
                                            <span class="label label-info">this month</span>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/col-->
            </div>

        </div><!--/col-->
    </div>
</div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDoTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@
