@model IEnumerable<Core.Entites.Models.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MetroUILayout.cshtml";
}
<div id="content" class="col-lg-10 col-sm-11">

    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="fa fa-user"></i><span class="break"></span>Projects</h2>
                    <div class="box-icon">
                        <a href="table.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                        <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable">
                        <thead>                           
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedOn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdatedOn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="center">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="center">
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                    <td class="center">
                                        @Html.DisplayFor(modelItem => item.UpdatedOn)
                                    </td>
                                    <td class="center">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @if (item.IsActive)
                                        {
                                            <span class="label label-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="label label-default">Inactive</span>
                                        }                                        
                                    </td>

                                    <td class="center">
                                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning">
                                            Edit 
                                            <i class="fa fa-edit "></i>
                                        </a>
                                        <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info">
                                            Edit
                                            <i class="fa fa-search-plus "></i>
                                        </a>
                                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">
                                            Edit
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id, @class = "btn btn-success" }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id, @class = "btn btn-success" }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id, @class = "btn btn-success" })*@
                                    </td>
                                </tr>
                            }

                            @*<tr>
                                    <td>Ajith Hristijan</td>
                                    <td class="center">2012/03/01</td>
                                    <td class="center">Member</td>
                                    <td class="center">
                                        <span class="label label-warning">Pending</span>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-success" href="table.html#">
                                            <i class="fa fa-search-plus "></i>
                                        </a>
                                        <a class="btn btn-info" href="table.html#">
                                            <i class="fa fa-edit "></i>
                                        </a>
                                        <a class="btn btn-danger" href="table.html#">
                                            <i class="fa fa-trash-o "></i>
                                        </a>
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/col-->

    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    </div>
    

